.hero-card {
	margin: 20px;
	box-shadow: 3px 15px 16px -8px rgba(0,0,0,0.75);
    padding: 0;
	width: 250px;
	height: 100%;
	transition: all 0.2s;
	border-radius: 4px;
	overflow: hidden;
    border: none;
	outline: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-card:hover {
	transform: scale(1.03) translateY(-3px);
	box-shadow: 3px 15px 59px -8px rgba(0,0,0,0.75);
	cursor: pointer;
}
.hero-card:active {
	transform: scale(1.01) translateY(-1px);
	cursor: pointer;
	box-shadow: 3px 15px 16px -8px rgba(0,0,0,0.75);
}

.hero-card-name {
	font-size: 30px;
	font-weight: 700;
	width: 100%;
	color: #ddd;
	padding: 10px;
background:linear-gradient(135deg, #09203f 0%,#537895 100%);
}

.hero-card-image {
	height: 250px;
	width: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-bottom: 5px solid linear-gradient(135deg, #6ce8fd 0%,#0c015b 100%);
}
